/* --------> common */
main > section:nth-child(n + 2) {
    padding: 60px 0;
}

#top .footer h3, #about .content h3, #newsEvent .col-12 > .title, #interview .container > .title, #plan .content h3, #more .content h3 {
    margin-bottom: 20px;
}

#top .main .content, #top .footer h3, #about .content h3, #plan .content h3, #more .content h3 {
    font-size: 36px;
    font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

#about .content h3, #newsEvent a:hover .content .title, #plan .content h3 {
    color: #442606;
}

#about .content p, #plan .content p, #more .content p {
    line-height: 40px;
    font-size: 12px;
    letter-spacing: 2px;
}

#newsEvent .title h3, #interview .title h3 {
    font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    font-weight: 500;
    font-size: 45px;
    margin-right: 8px;
    display: inline-block;
}

#newsEvent .title span, #interview .title span {
    display: inline-block;
}

#introduction .card, #interview .card {
    border-radius: 0;
    border: 1px solid #efefef;
    background-color: #efefef;
}

#introduction .title, #interview .card .title {
    color: #442606;
    position: absolute;
    font-weight: bold;
    top: 0;
    left: 4px;
    z-index: 0;
}

#introduction .title:before, #interview .card .title:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: -5px;
    top: -1px;
    border-width: 75px;
    border-style: solid;
    border-color: #fff transparent transparent #fff;
}

#introduction img, #interview img {
    width: 100%;
    border-radius: 0;
}

#introduction .card-text {
    font-size: 12px;
    line-height: 30px;
    padding: 12px;
}

.list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0;
}

#interview .btn, #plan .btn {
    background-color: #000;
    color: #efefef;
    border-radius: 0;
    font-size: 12px;
}
/* <-------- common */

/* --------> header */
header nav {
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.5);
    height: 80px;
    width: 100vw;;
}

header .navbar-brand img {
    width: 140px;
}

header .navbar-toggler,
header .navbar-toggler span {
  display: inline-block;
  box-sizing: border-box;
}

header .navbar-toggler {
  position: relative;
  width: 28px;
  height: 20px;
}

header .navbar-toggler span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
}

header .navbar-toggler span:nth-of-type(1) {
  top: 0;
}

header .navbar-toggler span:nth-of-type(2) {
  top: 8px;
}

header .navbar-toggler span:nth-of-type(3) {
  bottom: 0;
}

header .item {
    margin: auto 10px;
}

header .item.dropdown {
    padding: 32px 10px;
    margin: 0;
}

header .item a.nav-link {
    color: #fff;
}

header .item a.nav-link:hover {
    color: #c5c3c3;
}

header .sub-menu {
    padding: 0;
    position: absolute;
    list-style: none;
    background-color: #000;
    top: 90px;
    border: none;
    border-radius: 0;
}

header .sub-menu a {
    display: block;
    padding: 16px 28px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

header .sub-menu a:hover {
    background-color: #442606;
    color: #fff;
}

@media (max-width: 991px) {
    header nav {
        background-color: rgb(0, 0, 0, 1);
    }

    header .navbar-collapse {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
    }

    header .navbar-nav {
        background-color: #000;
    }

    header .item.dropdown {
        padding: 0;
        margin: auto 10px;
    }
}
/* <-------- header */

/* --------> top */
#top {
    padding-bottom: 60px;
}

#top .main {
    background-image: url(./image/top.jpeg);
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top .main .content {
    writing-mode: vertical-rl;
    letter-spacing: 2px;
}

#top .main .content, #top .footer h3 {
    color: #fff;
}

#top .footer {
    background-color: #000;
}

#top .footer .description {
    text-align: center;
    padding: 32px 0;
}

#top .footer p {
    line-height: 40px;
    color: #bfbebe;
}
/* <-------- top */

/* --------> about */
#about .image {
    justify-content: center;
    display: flex;
}

#about img {
    width: 25%;
    height: auto;
}

#about .content {
    text-align: center;
    background-color: #f5f3f3;
    padding: 28px;
}
/* <-------- about */

/* --------> introduction */
#introduction .title {
    font-size: 20px;
    font-weight: bold;
}

#introduction .card-body {
    padding: 28px;
}

#introduction .btn {
    background-color: #000;
    border-radius: 0;
    color: #fff;
    font-size: 12px;
    padding: 16px 56px;
    letter-spacing: 1px;
}

#introduction .btn:hover {
    background-color: #442606;
}
/* <-------- introduction */

/* --------> newsEvent */
#newsEvent {
    background-color: #f3f3f3;
}

#newsEvent a {
    text-decoration: none;
}

#newsEvent .event .list-group-item {
    padding: 0;
    overflow: hidden;
}

#newsEvent .image {
    width: 207px;
    overflow: hidden;
}

#newsEvent .image img {
    width: 100%;
    height: auto;
    transition: transform 0.2s linear;
    transition-duration: 0.5s;
}

#newsEvent img:hover {
    transform: scale(1.2);
}

#newsEvent .event .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#newsEvent .content .date {
    color: #9e9e9e;
    font-size: 12px;
    margin-bottom: 4px;
}

#newsEvent .content .title, #newsEvent .more a {
    color: #000;
}

#newsEvent .more {
    text-align: right;
}

#newsEvent .more a:hover {
    color: #a2a2a2;
}
/* <-------- newsEvent */

/* --------> interview */
#interview .btn {
    position: absolute;
    right: 165px;
    padding: 16px 48px;
}

#interview .card .title {
    font-size: 14px;
}

#interview .job {
    position: absolute;
    top: 205px;
    right: 0;
    color: #e0e0e0;
    background-color: #000;
    padding: 10px 30px;
    font-size: 11px;
}

#interview .card a {
    text-decoration: none;
}

#interview .card-body {
    padding: 20px;
}

#interview .card-text {
    font-size: 16px;
    line-height: 24px;
    color: #000;
    min-height: 96px;
}

#interview a:hover .card-text {
    color: #442606;
}
/* <-------- interview */

/* --------> plan */
#plan .content {
    text-align: center;
}

#plan .list-group-item {
    font-size: 12px;
}

#plan .main .list-group-item {
    border-right: 4px solid #442506;
    border-left: 4px solid #442506;
}

#plan .list-group-item:first-child {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
}

#plan .sub .list-group-item:first-child {
    background-color: #a19283;
}

#plan .main .list-group-item:first-child, #plan .btn:hover {
    background-color: #442506;
}

#plan .list-group-item:nth-child(2) {
    padding: 24px;
    background-color: #ece9e6;
}

#plan .list-group-item:nth-child(n+3) {
    padding: 18px;
}

#plan .main .list-group-item:last-child {
    border-bottom: 4px solid #442506;
}

#plan .list-group-item .money {
    color: #442606;
    font-size: 36px;
    font-weight: bold;
}

#plan .btn{
    padding: 16px 64px;
}
/* <-------- plan */

/* --------> question */
/* <-------- question */

/* --------> blog */
/* <-------- blog */

/* --------> more */
#more {
    background-image: url(./image/pancake.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#more .content {
    margin-bottom: 32px;
}

#more ul {
    list-style: none;
}

#more li {
    width: 400px;
    overflow: hidden;
    margin: 0 12px;
}

#more a {
    overflow: hidden;
}

#more .title:before {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: -120px;
    width: 0;
    height: 0;
    border-width: 120px 60px 120px 60px;
    border-style: solid;
    border-color: transparent #fff #fff transparent;
}

#more .title {
    background-color: #fff;
    color: #442606;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 170px;
    height: 120px;
    font-size: 16px;
    line-height: 120px;
}

#more img {
    transition: transform 0.2s linear;
}

#more img:hover {
    transform: scale(1.1);
}
/* <-------- more */


/* --------> footer */

/* <-------- footer */
